body{
   margin: 0% 35% ;
  overflow-x: hidden;
  padding: 14px 50px; 
  box-sizing: border-box;
   
}
header{
  width: 375px;
  height: 92px;
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;

}
.status-bar{
  width: 375px;
  height: 44px;
  display: flex;
  padding-top: 20px;
  
}

#time-style{
width: 54px;
height: 21px;
flex: 1;

}
#othr-style{
  width: 66px;
  height: 11px;
  flex: 2;
}
.tool-bar{
  width: 375px;
  height: 48px;
  display: flex;

}
.tool-bar img:hover{
  background-color: #344563;
  transition: 0.3;
  color: white;
}
.tool-bar h1{
  flex: 10;
  width: 100px;
  height: 40px;
  margin-right: 180px;
  padding: 8px;
  
}
.tool-bar #image{
  flex: 1;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-bottom: 8px;

}
.tool-bar #logo:hover{
background-color: cadetblue;
transition: 0.3;
color: white;
}

.headline{
  width: 375px;
  height: 64px;
  /* padding: 114px 24px; */
}
.heading{
  width: 327px;
  height: 156px;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #172b4d;
  font-family: 'Courier New', Courier;
}
.paragraph{
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}
.address{
  width: 200px;
  height: 24px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color:#7f8cff;

}
main{
  background-color: aliceblue;
width: 375px;
height: 610px;
overflow-x: hidden;
padding-left: 10px;
padding-right: 10px;
 

}
.icons{
  width: 120PX;
  height: 24PX;
  
}
.icons img{
  padding: 8px;
  display: inline;
}
.icons img:hover{
  background-color: cadetblue;
  transition: 0.3;
  color: white;
}
@media screen and (max-width: 767px) and (min-width: 375px) {
  .tool-bar #image, .tool-bar h1{
    flex: 100%;
  }
}
@media screen and (min-width:768px){
  .tool-bar #image{
    flex: 10%;
  }
  .tool-bar h1{
   flex: 90%;
  }
}